body {
    font-family: Arial, sans-serif;
    background-color: #2c504d6b;
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

table {
    margin: auto;
}

table td {
    padding: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
    padding: 6px;
    width: 200px;
}

input[type="submit"],
input[type="reset"] {
    padding: 7px 20px;
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type="reset"] {
    background: #d9534f;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
}
