body {
    font-family: Arial, sans-serif;
    background-color: #2c504d6b;
    margin: 0;
    padding: 0;
}

center h1 {
    color: #2c3e50;
}

center h2 {
    color: #555;
}

p {
   width: 25;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: black;
}

ul {
    width: 80%;
    margin: auto;
    font-size: 18px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

a:hover {
    color: #ff6600;
}

hr {
    margin: 30px 0;
}
